* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #000000;
  --primary-300: #c2c2c2;
  --text-color: #ffffff;

  font-size: 62.5%;
}

a {
  color: var(--text-color);
}

body {
  background-color: var(--primary-300);
  color: var(--text-color);

  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

body * {
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: var(--primary-100);

  width: min(73rem, 87%);
  margin: auto;

  padding: 9rem;
  border-radius: 3.2rem;

  box-shadow: 0 0 4.8rem rgb(0 0 0 / .1);
}

form * {
  font-size: 1.4rem;
}

fieldset {
  border: 0;
}

fieldset legend {
  font-size: 3.2rem;
  font-family: "Libre Baskerville", serif;
}

/* radio */
.radio-wrapper {
  border-radius: 1.6rem;
  background-color: var(--primary-100);
  border:1px solid white;
  padding: 2.4rem;
}

.radio-wrapper > div {
  display: flex;
  gap: .8rem;
}

.radio-wrapper input[type="radio"] {
  appearance: none;

  border: 1px solid #BBC1C1;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;

  background-color: white;
}

.radio-wrapper input[type="radio"]:checked {
  background-image: radial-gradient(white 35%, black 40%);
}

.radio-wrapper:not(:has(:checked)) {
  opacity: .8;
}

.radio-wrapper label {
  font-size: 2rem;
}

.radio-wrapper p {
  margin-top: 1rem;
  padding-left: 3.8rem;
}

legend + .radio-wrapper {
  margin-top: 6rem;
}

.radio-wrapper + .radio-wrapper,
.checkbox-wrapper + .checkbox-wrapper {
  margin-top: 2.4rem;
}

/* checkbox */

.checkbox-wrapper {
  display: flex;
  gap: .8rem;

  padding-inline: 2.2rem;
}


.checkbox-wrapper input[type="checkbox"] {
  appearance: none;

  flex-shrink: 0;

  width: 2.8rem;
  height: 2.8rem;
  
  border: 1px solid var(--primary-300);
  border-radius: .6rem;

  position: relative;
}

.checkbox-wrapper input[type="checkbox"]:focus {
  outline: 4px solid var(--text-color);
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  content: "✓";
  font-size: 2.4rem;
  position: absolute;
  color: var(--text-color);
  top: -0.6rem;
  left: .4rem;
}

.checkbox-wrapper label {
  margin-top: .4rem;
}

.radio-wrapper + .checkbox-wrapper {
  margin-top: 4.8rem;
}


/* button */
button {
  margin-top: 5.8rem;

  width: 100%;

  background-color: var(--text-color);
  padding-block: 2rem;

  color: var(--primary-100);

  border: 0;

  transition: background .2s;
}

button:hover {
  background-color: red;
  cursor: pointer;
  color: white;


}

small {
  text-align: center;
  display: block;
  margin-top: 2.8rem;
}